<div class="container">
  <div class="row">
    <div class="col s12">

      <div class="section">
        {{md-input label="Search for your favorite characters"  value=charactersFilter}}
      </div>

      {{#if loading}}

        {{partial 'loading'}}

      {{else}}

        <div class="section">Displaying {{count}} characters out of {{total}}</div>

        <div class="divider"></div>

        <div class="section">
          {{#each character in model itemController='character'}}

            {{#md-card title=character.name image=character.thumbnailURL}}
              {{#md-card-content}}
                <p class="flow-text">{{character.description}}</p>
              {{/md-card-content}}
              {{#md-card-action}}
                {{#link-to 'character.comics' character}}
                  Learn more about {{character.name}}
                {{/link-to}}
              {{/md-card-action}}

            {{/md-card}}

          {{/each}}

          {{#unless onLastPage}}
            <div class="center-align section">
              {{md-btn id="loadmore" text=loadmoreLabel action="loadmore" buttonType='large'}}
            </div>
          {{/unless}}

        </div>

      {{/if}}

    </div>
  </div>
</div>
