{{md-parallax image=thumbnailURL}}
<div class="section grey darken-4">
  <div class="container">
    <h4 class="white-text">{{name}}</h4>
    <p class="flow-text grey-text text-lighten-1">{{description}}</p>
  </div>

</div>

<div class="section white Character-overview">
  <div class="container">
    <ul class="tabs flow-text">
      <li class="tab col s4">
        {{link-to 'Comics' 'character.comics'}}
      </li>
      <li class="tab col s4">
        {{link-to 'Events' 'character.events'}}
      </li>
      <li class="tab col s4">
        {{link-to 'Series' 'character.series'}}
      </li>
    </ul>
  </div>
</div>

<div class="section grey lighten-4">
  <div class="container">
    {{outlet}}
  </div>
</div>
