{{md-parallax image=thumbnailURL}}
<div class="white">
  <div class="container">
    <h4 class="teal-text">{{name}}</h4>
    <p class="flow-text">{{description}}</p>
    <ul class="tabs flow-text">
      <li class="tab col s4">
        {{link-to 'Comics' 'character.comics'}}
      </li>
      <li class="tab col s4">
        {{link-to 'Events' 'character.events'}}
      </li>
      <li class="tab col s4">
        {{link-to 'Series' 'character.series'}}
      </li>
    </ul>
  </div>
</div>
<div class="section grey lighten-4">
  <div class="container">
    {{outlet}}
  </div>
</div>
